[user]
  name = Juan Roldan Ruiz
  email = juan.roldan@gmail.com

[core]
  editor = vim

[alias]
  a = add .
  b = branch
  cm = commit
  cmm = commit -m
  co = checkout
  cp = cherry-pick
  d = diff
  l = log --graph --decorate --abbrev-commit -20 --all
  mg = merge
  pl = pull origin master
  ps = push origin master
  rb = rebase
  rs = reset --soft
  s = status
  st = stash
  stl = stash list
  stp = stash pop
  t = tag

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true

[format]
  pretty = oneline

[merge]
  tool = meld
[diff]
	external = meld.py
